.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0px;
  border: 0px;
  padding: 13px 33px;
  color: white;
  text-transform: uppercase;
}
.header-navigation {
  list-style: none;
  display: flex;
}
.header-navigation__item {
  margin-right: 47px;
}
